<a href="https://colab.research.google.com/github/BKN1810/Machine-Learning/blob/master/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load libraries
import pandas as pd
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
col_names = ['sepal length', 'sepal width', 'petal length', 'petal width','label']
# load dataset
data = pd.read_csv("/content/sample_data/iris.csv", header=None, names=col_names)
data.head()

   sepal length  sepal width  petal length  petal width    label
0  sepal length  sepal width  petal length  petal width  classes
1           5.1          3.5           1.4          0.2        1
2           4.9            3           1.4          0.2        1
3           4.7          3.2           1.3          0.2        1
4           4.6          3.1           1.5          0.2        1

In [4]:
data.take([49,99,145])

    sepal length sepal width petal length petal width label
49           5.3         3.7          1.5         0.2     1
99           5.1         2.5            3         1.1     2
145          6.7         3.3          5.7         2.5     3

In [12]:
#split dataset in features and target variable
feature_cols = ['sepal length', 'sepal width', 'petal length', 'petal width']
X = data.loc[1:,feature_cols] # Features
y = data.loc[1:,"label"] # Target variable
# print(X,y)

In [13]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1)

In [21]:
model=RandomForestClassifier(n_estimators=8,min_samples_split=5) 
#Train the model 
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9555555555555556
[[14  0  0]
 [ 0 17  1]
 [ 0  1 12]]
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        14
           2       0.94      0.94      0.94        18
           3       0.92      0.92      0.92        13

    accuracy                           0.96        45
   macro avg       0.96      0.96      0.96        45
weighted avg       0.96      0.96      0.96        45

In [16]:
# You can also make a prediction for a single item, for e=xample:
model.predict([[7.2, 3, 5.8, 1.6]])

array(['3'], dtype=object)

In [18]:
model.predict([[5.3,3.7,1.5,2.6]]) # 1

array(['1'], dtype=object)

In [20]:
model.predict([[5.1,2.5,3,1.1]]) # 2

array(['2'], dtype=object)